@import "tailwindcss";

@theme {
  --color-brand-purple: #4a306d; 
  --color-medium-purple: #eeeaf2;
  --color-lavender: #dcd5e5;
  --color-brand-muted: #c2b4cf;
  --color-brand-deep: #2d1b42;
  --color-brand-light: #f3f0f7;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}
@keyframes scaleIn {
  0% {
    transform: rotate(0) scaleY(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scaleY(1);
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}